@import "../../vars.css";

.button {
  font-size: 15px;
  margin-right: 5px;
  padding: 40px;
  color: #fff;
  border-radius: var(--border-radius);
  border: none;
  background-color: var(--additional-color);
  transition: background-color 250ms ease;
}

.button:hover {
  background-color: var(--additional-color-hover);
}

.form {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 150px;
  padding: 40px;
  justify-content: space-around;
  border-radius: var(--border-radius);
  background-color: var(--background-color);
}

.changeContactForm {
  position: absolute;
  align-items: flex-start;
  justify-content: space-around;
  top: 0;
  left: -0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  outline: 2px solid var(--color) ;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: var(--border-radius);
}

.formContainer {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  width: 270px;
  height: 95px;
}

.input {
  font-size: 15px;
  padding-left: 15px;
  margin-left: 10px;
  height: 40px;
  width: 185px;
  border: none;
  background-color: var(--color);
  color: var(--background-color);
  border-radius: var(--border-radius);
}

.input:focus{
  outline: none;
}

.list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 10px;
  margin-top: 50px;
  list-style: none;
}

.item {
  margin: 0;
  padding: 0;

  position: relative;
  width: 400px;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: 2px solid var(--additional-color);
  border-radius: var(--border-radius);
  padding: 10px 30px;
  margin-bottom: 20px;
}


