@import "../../vars.css";

.nav,
.authnav,
.userMenu {
  width: fit-content;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

li {
  margin: 0;
}

.logoutButton{
  font-size: 16px;
  font-weight: 400;
  width: fit-content;
  height: 65px;
  display: inline-block;
  color: var(--color);
  background-color: var(--background-color);
  border: none;
  transition: color 250ms ease;
}

.logoutButton:hover{
  color: var(--color-hover);
}

.userItem{
  margin: 0;
  padding: 0;
  width: 43px;
  height: 43px;
  padding: 11px 3px;
}

.avatar{
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
  padding: 0;
  margin: 0;
  border-radius: 50%;
}

.userName{
  color: var(--additional-color);
}

.link {
  display: block;
  text-decoration: none;
  color: var(--color);
  padding: 21px 10px;
  transition: color 250ms ease;
}

.link:hover {
  color: var(--color-hover);
}

.activeLink {
  color: var(--additional-color);
}

.logo{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 559px) {
  .logo > span {
    display: none;
  }

}

@media  screen and (min-width: 600px) {
  .logo {
    width: 130px;
  }

  .logoutButton{
    width: 120px;
  }

  .link{
    padding: 21px 20px;
  }

  .userItem{
    padding: 11px;
  }
}