@import "../../vars.css";

h1,
h2,
p{
  margin: 0;
  padding: 0;
}

.link {
  display: block;
  text-decoration: none;
  color: var(--color);
  background-color: var(--additional-color);
  padding: 10px 30px;
  border-radius: var(--border-radius);
  transition: background-color 250ms ease;
}

.link:hover {
  background-color: var(--additional-color-hover);
}

.activeLink {
  color: var(--additional-color);
}

.heroSection{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.heroContainer{
  height: 431px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.heroTitle{
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
}

.signupButton{
  display: block;
  padding: 10px 35px;

  text-decoration: none;
  color: var(--color);
  background-color: var(--additional-color);
  border-radius: var(--border-radius);
  transition: background-color 250ms ease;
}

.signupButton:hover {
  background-color: var(--additional-color-hover);
}

.heroImage{
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}

.descriptionSection{
  padding-top: 60px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.descriptionList{
  margin: 0;
  padding: 0;

  list-style: none;
}

.descriptionItem{
  padding-bottom: 20px;
}

.descriptionItem > h2{
  font-weight: 400;
  font-size: 18px;
line-height: 28px;
}

.descriptionItem > p{
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.featuresSection{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.featuresTitle{
  margin: 0;
  padding: 0;

  margin-bottom: 30px;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
}

.featuresList{
  margin: 0;
  margin: -10px;
  padding: 0;
  padding-left: 20px;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  list-style: none;
}

.featuresItem{
  margin: 0;
  display: flex;
  align-items: center;
  margin: 10px;
}

.featuresText{
  margin-right: 20px;
  font-size: 20px;
}

.featuresImage{
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
}

.footerSection{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #fff;
}

.authnav {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  width: 270px;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 559px) {

  .signupButton{
    margin-bottom: 40px;
  }

  .logo > span {
    display: none;
  }

  .featuresList{
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 600px) {
  .heroSection{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .heroContainer{
    align-items: flex-start;
    padding-right: 40px;
  }

  .heroImage{
    width: 300px;
  }
  .signupButton{
    margin-left: 30px;
  }

  .descriptionSection{
    width: 600px;
  }

  .descriptionList{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 95px;
  }

  .featuresSection{
    width: 600px;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }

  .featuresList{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }

  .featuresImage{
    width: 350px;
  }

  .footerSection{
    width: 600px;
  }

  .logo {
    width: 130px;
  }
}

@media screen and (min-width: 1290px) {
  .heroSection{
    padding-top: 100px;
    width: 1200px;
  }

  .heroImage{
    width: 560px;
  }

  .descriptionSection{
    padding-top: 170px;
    width: 1200px;
  }

  .featuresSection{
    padding-top: 170px;
    padding-bottom: 160px;
    width: 1200px;
  }

  .featuresImage{
    width: 450px;
  }

  .footerSection{
    width: 1200px;
  }
}  